.cusheader{
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.backgroundPicture{
    background: url('https://blackrockdigital.github.io/startbootstrap-landing-page/img/bg-masthead.jpg');   
}

.jumbotron{
    padding-top: 11rem;
    padding-bottom: 11rem;
}
